VITE_SUPABASE_URL=https://pjovjynubnrvhwpnfnlw.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_API_BASE_URL=https://busway-backend-9maw.onrender.com
VITE_RAZORPAY_KEY_ID=
VITE_GOOGLE_MAPS_API_KEY=
VITE_OTP_PROVIDER=MSG91
VITE_MSG91_AUTH_KEY=
VITE_MSG91_TEMPLATE_ID=
VITE_MSG91_SENDER_ID=
VITE_CAMERA_STREAM_BASE_URL=
